{% macro about() %}
 <!-- <div class="user-details">
  <h1> I like code </h1>
  <p> {{ config.extra.user_description }} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2></h2>
      <i class="devicon-rust-plain colored"></i>
      <i class="devicon-python-plain colored"></i>
      <i class="devicon-swift-plain colored"></i>
      <i class="devicon-objectivec-plain colored"></i>
      <p>I like code, you like code, maybe we could be a coding team? Other stuff and thigs. Who is reading this? Are you there Jay? It's me Jay.</p>
    </div>
</div> -->
{% endmacro about %}

{% macro projects() %}

{% endmacro projects %}

